
OnlineWarehousingInformationSystem/.vs/OnlineWarehousingInformationSystem/v16/.suo
*.config
OnlineWarehousingInformationSystem/.vs/OnlineWarehousingInformationSystem/v16/.suo
*.vs
OnlineWarehousingInformationSystem/.vs/OnlineWarehousingInformationSystem/config/applicationhost.config
OnlineWarehousingInformationSystem/.vs/OnlineWarehousingInformationSystem/v16/.suo
OnlineWarehousingInformationSystem/OnlineWarehousingInformationSystem/obj/Debug/OnlineWarehousingInformationSystem.csprojAssemblyReference.cache
OnlineWarehousingInformationSystem/OnlineWarehousingInformationSystem/obj/Debug/OnlineWarehousingInformationSystem.csprojAssemblyReference.cache
OnlineWarehousingInformationSystem/.vs/OnlineWarehousingInformationSystem/v16/.suo
OnlineWarehousingInformationSystem/.vs/OnlineWarehousingInformationSystem/config/applicationhost.config
*/OnlineWarehousingInformationSystem/.vs/OnlineWarehousingInformationSystem/v16/.suo
*.suo
OnlineWarehousingInformationSystem/OnlineWarehousingInformationSystem/obj/Debug/OnlineWarehousingInformationSystem.csproj.FileListAbsolute.txt
OnlineWarehousingInformationSystem/OnlineWarehousingInformationSystem/obj/Debug/OnlineWarehousingInformationSystem.csproj.FileListAbsolute.txt
OnlineWarehousingInformationSystem/OnlineWarehousingInformationSystem/obj/Debug/OnlineWarehousingInformationSystem.csprojAssemblyReference.cache
